<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Create company
    </h3>
    <form action="/show" method="POST"> 
        <input type="text" name="companyName" placeholder="Company name">
        <input type="text" name="companyCode" placeholder="Company Code">
         <h3>Database credential</h3>
         <input type="text" name="databaseName" placeholder="database-name">
        <input type="text" name="databaseServer" placeholder="database-server">
        <input type="text" name="databasePassword" placeholder="database-password">
        <input type="text" name="databaseUser" placeholder="database-user">
         <button>update</button>
    </form>
  <br>

    
</body>
</html>